*{
    margin:10;
    padding: 10;
    box-sizing: border-box;
}
h1,p{
    text-align: center;
    font-size: 90px;
    font-weight: bolder;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    float:inline-end;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.bttn_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}
.center_bttn{
    padding: 40px 50px;
    font-size: large;
    font-weight: 900;
    border-radius: 8px;
    background-color: rgb(242, 234, 6);


}
.center_bttn:hover{
    color:rgb(0, 0, 0);
    background-color: orange;
    border-style: inherit;
}
.cert{
    color:darkorchid;
}
.button{
    width: 115px;
    padding: 10px;
    font-weight: bold;
    font-size: 19px;
    border: none;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;

}
#login:hover{
    color: rgb(0, 34, 255);
    text-decoration: underline;

}
#contact:hover{
    color: rgb(0, 47, 255);
     text-decoration: underline;
}
#about:hover{
    color: rgb(0, 42, 255);
    text-decoration: underline;
}
#temp:hover{
    color: rgb(0, 47, 255);
    text-decoration: underline;
}
#home:hover{
    color: rgb(0, 8, 255);
    text-decoration: underline;
}
.name,.type,.req,.event,.templates{
    font-size: 20px;
    text-align: left;

}
.container{
    background-color: rgb(255, 255, 255);
    padding:5px 20px 15px 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}
